.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
}

.loadingImage {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
  transform: scale(1.06);
}

@media (max-width: 768px) {
  .loadingImage {
    top: auto;
    left: 0;
    width: 100vw;
    height: 51.3vh;
  }
}

.loadingImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.loadingLeft {
  left: 0;
}

.loadingRight {
  right: 0;
}

@media (max-width: 768px) {
  .loadingLeft {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
  }
  
  .loadingRight {
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;
  }
}

.piece {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  opacity: 0;
  transform: scale(0);
}

.piece img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.piece1 {
  top: 25%;
  left: 50%;
}

.piece2 {
  top: 50%;
  left: 50%;
  filter: blur(2px);
}

.piece3 {
  top: 72%;
  left: 50%;
}

.piece4 {
  top: 35%;
  left: 50%;
}

.piece5 {
  top: 63%;
  left: 50%;
  filter: blur(2px);
}

.piece6 {
  top: 42%;
  left: 50%;
}

.piece7 {
  top: 55%;
  left: 50%;
  filter: blur(2px);
}

.piece8 {
  top: 68%;
  left: 50%;
}

@media (max-width: 768px) {
  .piece {
    width: 28px;
    height: 28px;
  }
  
  .piece1 {
    top: 25%;
    left: 15%;
  }
  
  .piece2 {
    top: 65%;
    left: 8%;
  }
  
  .piece3 {
    top: 35%;
    left: 75%;
  }
  
  .piece4 {
    top: 70%;
    left: 85%;
  }
  
  .piece5 {
    top: 20%;
    left: 45%;
  }
  
  .piece6 {
    top: 75%;
    left: 55%;
  }
  
  .piece7 {
    top: 40%;
    left: 92%;
  }
  
  .piece8 {
    top: 60%;
    left: 30%;
  }
}
